h2,
h3,
h4,
h5,
h6,
.font-fam-h2 {
  font-family: 'Atomic Age' !important;
}

h1, .font-fam-h1 {
  font-family: 'Audiowide' !important;
}

.bg-gears-dark {
  background-color: rgb(2,16,57)!important;
}

.text-gears-dark {
  color: rgb(2,16,57)!important;
}

.text-gears-danger {
  color: #f55;
}

h1, h2 {
  text-transform: uppercase;
}

.gears-checked {
  border-color: #0dcaf0!important;
  background-color: #0dcaf0!important;
}

.gears-unchecked {
  border-color: #0dcaf0!important;
  border-width: medium;
  background-color: transparent!important;
}

.gears-checked .text-info {
  color: rgb(2,16,57)!important;
}

.gears-unchecked .text-info {
  color: #0dcaf0!important;
  font-weight: light!important;
  text-transform: capitalize!important;
}

.gears-checked .text-info::after {
  content: "!";
}

.gears-unchecked .text-info::after {
  content: "?";
}

.section-style {
  width: 275px!important;
}

input, textarea, select, option {
  background-color: #0dcaf0!important;
  color: rgb(2,16,57)!important;
  font-weight: bolder!important;
}

.table-wrapper {
  overflow-y: scroll;
}

thead {
  position: sticky;
  top: 0px;
  outline: rgb(2,16,57)!important;
}

th {
  background-color: rgb(2,16,57)!important;
  margin: 0;
  padding: 0;
  outline: rgb(2,16,57)!important;
  padding: 5px 10px;
}

td {
  border-top: 3px solid white;
  padding: 10px;
}

.frame-box {
  background-color: rgb(2,16,57)!important;
  border: 3px solid white;
  border-radius: 0.6rem;
  margin-bottom: 1.5rem;
}

.card {
  
}